# UCL SQuAD test splits and WWWWWWH categorisation

Exploring UCL's test split for SQuAD and occurance of WWWWWWH questions

## Set-up

In [65]:
import os

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datasets import load_dataset
import datefinder

In [2]:
os.chdir('../..')

## Load SQuAD

In [3]:
squad_train = load_dataset("squad", split='train')
squad_test = load_dataset("squad", split='validation')  # Use validation set as test holdout

Reusing dataset squad (/Users/stevengeorge/.cache/huggingface/datasets/squad/plain_text/1.0.0/4c81550d83a2ac7c7ce23783bd8ff36642800e6633c1f18417fb58c3ff50cdd7)
Reusing dataset squad (/Users/stevengeorge/.cache/huggingface/datasets/squad/plain_text/1.0.0/4c81550d83a2ac7c7ce23783bd8ff36642800e6633c1f18417fb58c3ff50cdd7)

In [4]:
len(squad_test), len(squad_train)

(10570, 87599)

In [5]:
len(squad_test) / (len(squad_test) + len(squad_train))

0.10767146451527468

In [6]:
squad_train_df = squad_train.data.to_pandas()
print(squad_train_df.shape)
squad_train_df.head()

(87599, 5)

,answers,context,id,question,title
0,"{'answer_start': [515], 'text': ['Saint Bernad...","Architecturally, the school has a Catholic cha...",5733be284776f41900661182,To whom did the Virgin Mary allegedly appear i...,University_of_Notre_Dame
1,"{'answer_start': [188], 'text': ['a copper sta...","Architecturally, the school has a Catholic cha...",5733be284776f4190066117f,What is in front of the Notre Dame Main Building?,University_of_Notre_Dame
2,"{'answer_start': [279], 'text': ['the Main Bui...","Architecturally, the school has a Catholic cha...",5733be284776f41900661180,The Basilica of the Sacred heart at Notre Dame...,University_of_Notre_Dame
3,"{'answer_start': [381], 'text': ['a Marian pla...","Architecturally, the school has a Catholic cha...",5733be284776f41900661181,What is the Grotto at Notre Dame?,University_of_Notre_Dame
4,"{'answer_start': [92], 'text': ['a golden stat...","Architecturally, the school has a Catholic cha...",5733be284776f4190066117e,What sits on top of the Main Building at Notre...,University_of_Notre_Dame

In [7]:
squad_test_df = squad_test.data.to_pandas()
print(squad_test_df.shape)
squad_test_df.head()

(10570, 5)

,answers,context,id,question,title
0,"{'answer_start': [177, 177, 177], 'text': ['De...",Super Bowl 50 was an American football game to...,56be4db0acb8001400a502ec,Which NFL team represented the AFC at Super Bo...,Super_Bowl_50
1,"{'answer_start': [249, 249, 249], 'text': ['Ca...",Super Bowl 50 was an American football game to...,56be4db0acb8001400a502ed,Which NFL team represented the NFC at Super Bo...,Super_Bowl_50
2,"{'answer_start': [403, 355, 355], 'text': ['Sa...",Super Bowl 50 was an American football game to...,56be4db0acb8001400a502ee,Where did Super Bowl 50 take place?,Super_Bowl_50
3,"{'answer_start': [177, 177, 177], 'text': ['De...",Super Bowl 50 was an American football game to...,56be4db0acb8001400a502ef,Which NFL team won Super Bowl 50?,Super_Bowl_50
4,"{'answer_start': [488, 488, 521], 'text': ['go...",Super Bowl 50 was an American football game to...,56be4db0acb8001400a502f0,What color was used to emphasize the 50th anni...,Super_Bowl_50

In [8]:
squad_test[0]

{'answers': {'answer_start': [177, 177, 177],
  'text': ['Denver Broncos', 'Denver Broncos', 'Denver Broncos']},
 'context': 'Super Bowl 50 was an American football game to determine the champion of the National Football League (NFL) for the 2015 season. The American Football Conference (AFC) champion Denver Broncos defeated the National Football Conference (NFC) champion Carolina Panthers 24â€“10 to earn their third Super Bowl title. The game was played on February 7, 2016, at Levi\'s Stadium in the San Francisco Bay Area at Santa Clara, California. As this was the 50th Super Bowl, the league emphasized the "golden anniversary" with various gold-themed initiatives, as well as temporarily suspending the tradition of naming each Super Bowl game with Roman numerals (under which the game would have been known as "Super Bowl L"), so that the logo could prominently feature the Arabic numerals 50.',
 'id': '56be4db0acb8001400a502ec',
 'question': 'Which NFL team represented the AFC at Super Bowl 50?',
 'title': 'Super_Bowl_50'}

## UCL splits

In [9]:
squad_ucl_dev = pd.read_json('data/external/ucl_squad_dev_test_splits/split_dev_majority.json')

In [10]:
print(squad_ucl_dev.shape)
squad_ucl_dev.head()

(21, 2)

                                                data version
0  {'title': 'Super_Bowl_50', 'paragraphs': [{'co...
1  {'title': 'Warsaw', 'paragraphs': [{'context':...
2  {'title': 'Teacher', 'paragraphs': [{'context'...
3  {'title': 'Martin_Luther', 'paragraphs': [{'co...
4  {'title': 'Sky_(United_Kingdom)', 'paragraphs'...

In [11]:
set(squad_ucl_dev['version'])

{''}

In [12]:
squad_ucl_dev.drop(columns='version', inplace=True)

In [13]:
squad_ucl_dev.loc[0].item()['title']

'Super_Bowl_50'

In [14]:
squad_ucl_dev['title'] = squad_ucl_dev['data'].apply(lambda x: x['title'])

In [15]:
squad_ucl_dev.shape[0], squad_ucl_dev['title'].nunique()

(21, 21)

In [16]:
squad_ucl_test = pd.read_json('data/external/ucl_squad_dev_test_splits/split_test_majority.json')
print(squad_ucl_test.shape)
squad_ucl_test.head()

(27, 2)

                                                data version
0  {'title': 'Normans', 'paragraphs': [{'context'...
1  {'title': 'Nikola_Tesla', 'paragraphs': [{'con...
2  {'title': 'Computational_complexity_theory', '...
3  {'title': 'Southern_California', 'paragraphs':...
4  {'title': 'Victoria_(Australia)', 'paragraphs'...

In [17]:
squad_ucl_test.drop(columns='version', inplace=True)

In [18]:
squad_ucl_test['title'] = squad_ucl_test['data'].apply(lambda x: x['title'])

In [19]:
squad_ucl_test.shape[0], squad_ucl_test['title'].nunique()

(27, 27)

Are titles in UCL dev and test splits overlapping or distinct?

In [20]:
set(squad_ucl_dev['title']).intersection(set(squad_ucl_test['title']))

set()

Distinct

Check that no title in original dev set are not missing from UCL splits:

In [21]:
ucl_dev_titles = squad_ucl_dev.copy()[['title']]
ucl_dev_titles['split'] = 'ucl_dev'

ucl_test_titles = squad_ucl_test.copy()[['title']]
ucl_test_titles['split'] = 'ucl_test'

ucl_titles_df = ucl_dev_titles.append(ucl_test_titles)
print(ucl_titles_df.shape)
ucl_titles_df.head()

(48, 2)

                  title    split
0         Super_Bowl_50  ucl_dev
1                Warsaw  ucl_dev
2               Teacher  ucl_dev
3         Martin_Luther  ucl_dev
4  Sky_(United_Kingdom)  ucl_dev

In [22]:
check_df = squad_test_df.merge(ucl_titles_df, on='title', indicator=True, how='outer')
check_df.head()

,answers,context,id,question,title,split,_merge
0,"{'answer_start': [177, 177, 177], 'text': ['De...",Super Bowl 50 was an American football game to...,56be4db0acb8001400a502ec,Which NFL team represented the AFC at Super Bo...,Super_Bowl_50,ucl_dev,both
1,"{'answer_start': [249, 249, 249], 'text': ['Ca...",Super Bowl 50 was an American football game to...,56be4db0acb8001400a502ed,Which NFL team represented the NFC at Super Bo...,Super_Bowl_50,ucl_dev,both
2,"{'answer_start': [403, 355, 355], 'text': ['Sa...",Super Bowl 50 was an American football game to...,56be4db0acb8001400a502ee,Where did Super Bowl 50 take place?,Super_Bowl_50,ucl_dev,both
3,"{'answer_start': [177, 177, 177], 'text': ['De...",Super Bowl 50 was an American football game to...,56be4db0acb8001400a502ef,Which NFL team won Super Bowl 50?,Super_Bowl_50,ucl_dev,both
4,"{'answer_start': [488, 488, 521], 'text': ['go...",Super Bowl 50 was an American football game to...,56be4db0acb8001400a502f0,What color was used to emphasize the 50th anni...,Super_Bowl_50,ucl_dev,both

In [23]:
check_df['_merge'].value_counts()

both          10570
left_only         0
right_only        0
Name: _merge, dtype: int64

In [24]:
squad_test_df['title'].nunique()

48

No titles missing in UCL splits

## Who, what, where, when, why, which, how

In [25]:
squad_train_df.head()

,answers,context,id,question,title
0,"{'answer_start': [515], 'text': ['Saint Bernad...","Architecturally, the school has a Catholic cha...",5733be284776f41900661182,To whom did the Virgin Mary allegedly appear i...,University_of_Notre_Dame
1,"{'answer_start': [188], 'text': ['a copper sta...","Architecturally, the school has a Catholic cha...",5733be284776f4190066117f,What is in front of the Notre Dame Main Building?,University_of_Notre_Dame
2,"{'answer_start': [279], 'text': ['the Main Bui...","Architecturally, the school has a Catholic cha...",5733be284776f41900661180,The Basilica of the Sacred heart at Notre Dame...,University_of_Notre_Dame
3,"{'answer_start': [381], 'text': ['a Marian pla...","Architecturally, the school has a Catholic cha...",5733be284776f41900661181,What is the Grotto at Notre Dame?,University_of_Notre_Dame
4,"{'answer_start': [92], 'text': ['a golden stat...","Architecturally, the school has a Catholic cha...",5733be284776f4190066117e,What sits on top of the Main Building at Notre...,University_of_Notre_Dame

In [26]:
squad_train_df['question_first_word'] = squad_train_df['question'].apply(lambda x: x.split()[0].lower())
squad_train_df.head()

,answers,context,id,question,title,question_first_word
0,"{'answer_start': [515], 'text': ['Saint Bernad...","Architecturally, the school has a Catholic cha...",5733be284776f41900661182,To whom did the Virgin Mary allegedly appear i...,University_of_Notre_Dame,to
1,"{'answer_start': [188], 'text': ['a copper sta...","Architecturally, the school has a Catholic cha...",5733be284776f4190066117f,What is in front of the Notre Dame Main Building?,University_of_Notre_Dame,what
2,"{'answer_start': [279], 'text': ['the Main Bui...","Architecturally, the school has a Catholic cha...",5733be284776f41900661180,The Basilica of the Sacred heart at Notre Dame...,University_of_Notre_Dame,the
3,"{'answer_start': [381], 'text': ['a Marian pla...","Architecturally, the school has a Catholic cha...",5733be284776f41900661181,What is the Grotto at Notre Dame?,University_of_Notre_Dame,what
4,"{'answer_start': [92], 'text': ['a golden stat...","Architecturally, the school has a Catholic cha...",5733be284776f4190066117e,What sits on top of the Main Building at Notre...,University_of_Notre_Dame,what

In [27]:
squad_train_df['question_first_word'].nunique()

2777

In [28]:
squad_train_df['question_first_word'].value_counts().head(20)

what         37593
who           8150
how           8124
when          5459
in            4352
which         4159
where         3291
the           2318
why           1201
on             590
along          579
during         443
at             345
a              318
for            303
to             291
according      291
from           282
by             258
after          250
Name: question_first_word, dtype: int64

In [29]:
(squad_train_df['question_first_word'].value_counts() / squad_train_df.shape[0]).head(20)[['who', 'what', 'where', 'when', 'why', 'which', 'how']]

who      0.093038
what     0.429149
where    0.037569
when     0.062318
why      0.013710
which    0.047478
how      0.092741
Name: question_first_word, dtype: float64

SQuAD test set:

In [30]:
squad_test_df['question_first_word'] = squad_test_df['question'].apply(lambda x: x.split()[0].lower())
squad_test_df.head()

,answers,context,id,question,title,question_first_word
0,"{'answer_start': [177, 177, 177], 'text': ['De...",Super Bowl 50 was an American football game to...,56be4db0acb8001400a502ec,Which NFL team represented the AFC at Super Bo...,Super_Bowl_50,which
1,"{'answer_start': [249, 249, 249], 'text': ['Ca...",Super Bowl 50 was an American football game to...,56be4db0acb8001400a502ed,Which NFL team represented the NFC at Super Bo...,Super_Bowl_50,which
2,"{'answer_start': [403, 355, 355], 'text': ['Sa...",Super Bowl 50 was an American football game to...,56be4db0acb8001400a502ee,Where did Super Bowl 50 take place?,Super_Bowl_50,where
3,"{'answer_start': [177, 177, 177], 'text': ['De...",Super Bowl 50 was an American football game to...,56be4db0acb8001400a502ef,Which NFL team won Super Bowl 50?,Super_Bowl_50,which
4,"{'answer_start': [488, 488, 521], 'text': ['go...",Super Bowl 50 was an American football game to...,56be4db0acb8001400a502f0,What color was used to emphasize the 50th anni...,Super_Bowl_50,what

In [31]:
squad_test_df['question_first_word'].nunique()

465

In [32]:
squad_test_df['question_first_word'].value_counts().head(20)

what       4749
how        1090
who        1059
when        696
which       454
in          443
where       433
the         237
why         151
on           44
to           43
by           38
along        36
at           35
whose        34
if           32
after        31
besides      30
other        29
a            29
Name: question_first_word, dtype: int64

In [33]:
(squad_test_df['question_first_word'].value_counts() / squad_test_df.shape[0]).head(20)[['who', 'what', 'where', 'when', 'why', 'which', 'how']]

who      0.100189
what     0.449290
where    0.040965
when     0.065847
why      0.014286
which    0.042952
how      0.103122
Name: question_first_word, dtype: float64

In [34]:
(squad_train_df['question_first_word'].value_counts() / squad_train_df.shape[0]).head(20)[['who', 'what', 'where', 'when', 'why', 'which', 'how']]

who      0.093038
what     0.429149
where    0.037569
when     0.062318
why      0.013710
which    0.047478
how      0.092741
Name: question_first_word, dtype: float64

Similar distribution of questions types in train and test sets

Questions which may require a date as the answer:

In [67]:
np.random.seed(3)

for qn in squad_train_df[squad_train_df['question_first_word'] == 'when'].sample(10)['question']:
    print(qn)

When did the scholar project begin?
When did was Myanmar ruled by the Taungoo Dynasty ?
When did Kerry visit Nicaragua?
When forming compound tenses in Spanish, what auxiliary is no longer used?
When did the Parthian Empire rise to become the main power in Iran?
When a specialized species resorts to foraging and eating other diets, it's like because it's primary food source is?
When did black regain the right to vote?
When did the German Jewry seek to reform Jewish belief?
When did Rutherford introduce the new name for the Society?
When did hostilities between Japan and the Soviet Union resum after six years of peace?